.container{
    width: 80%;
    font-family: sans-serif;
    margin: o auto;
    background-color: palevioletred;
    border-radius: 5px;
    height: 450px;
}
.container h1{
    margin-left: 15px;
    margin-top: 15px;
}
.container_inner{
    display: flex;
    justify-content: space-evenly;
}
.block{
    width: 22%;
    background-color: white;
    border-radius: 5px ;
    height: 370px;
    box-shadow: 0 4px 8px ;
}
.block img{
    width: 100%;
}
.block a{
    text-decoration: none;
}
a{
    color: black;
}